<kendo-grid [data]="gridData">
    <kendo-grid-column field="deviceId" title="Device ID"></kendo-grid-column>
    <kendo-grid-column field="name" title="Device Name"></kendo-grid-column>
    <kendo-grid-column field="locations" title="Locations">
        <ng-template kendoGridCellTemplate let-dataItem>
            <ul>
                <li *ngFor="let location of dataItem.locations">
                    <div style="margin-left: 10px; font-weight: bold;">Datetime: {{ location.datetime | date: 'MMM d, y, h:mm:ss a'}}</div>
                    <div style="margin-left: 10px;"> Latitude: {{ location.latitude }}
                        Longitude: {{ location.longitude }}</div>
                </li>
            </ul>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>