<nav class="w-full flex  flex-row justify-between items-center bg-gray-500 p-1 shadow-xl">
    <div class="text-center lg:text-left">
        <span class="text-gray-200 text-lg lg:text-4xl flex justify-start items-center">Device Manager</span>
    </div>
    <div class="nav-items flex flex-row lg:flex-row items-center justify-center lg:justify-end">
        <ng-container *ngIf="!isLoggedIn">
            <span routerLink="/login" class="text-base lg:text-xl cursor-pointer text-gray-200 font-bold m-1 lg:m-3 hover:underline hover:text-indigo-200">Login</span>
            <span routerLink="/register" class="text-base lg:text-xl cursor-pointer text-gray-200 font-bold m-1 lg:m-3 hover:underline hover:text-indigo-200">Register</span>
        </ng-container>
        <ng-container *ngIf="isLoggedIn">
            <span routerLink="/login" class="text-base lg:text-xl cursor-pointer text-gray-200 font-bold m-1 lg:m-3 hover:underline hover:text-indigo-200 lg:mr-3" (click)="logout()">Logout</span>
        </ng-container>
    </div>
</nav>
